 img{
    width: 145px;
} 
a{
    text-align: end;
}
.bbq{
   display: flex;
  height: 700px;
  width: 1500px;
  box-sizing: border-box;
  display: block;
}
.second{
  font-size: 3rem;
}
.resturant{
 display: flex;
 justify-content: space-around;
 align-items: center;
 height: 300px;
}

.directionbutton{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.grand{
  background-color: rgb(71, 71, 71);
}
.parent{
 
  display: flex;
  
  align-items: center;
  gap: 200px;
  padding: 20px;
}
.box-1{
  text-align: center;
  font-size: 2rem;
}
.para-1{
  font-size: medium;
}
.para1{
  font-size: 2rem;
}
.salt1{
  font-size: 3rem;
}
box-2{
 font-size: 350px;
 font-weight: 400px;
 display: flex;
 justify-content: flex-start;
 margin-left: 10px;
 padding: auto;
}
.islimg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: auto;
  position: relative;
  margin-right: -50px;
  gap: 30px;
}
.faisalimg{ display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: auto;
  position: relative;

}
.bhlimg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: auto;
  position: relative;
  margin-right: -50px;
  gap: 30px;
}
.express{
  width: 400px;
  align-content: center;
  gap: 10px;
}
.exp2{
  width: 350px;
}
.franchise{
  font-size: 2rem;
  
  align-content: flex-start;
 
}
.village{
  margin-right: 70px;
  gap: -10px;
  display: block;
}
.express2{
  width:700px;
}
.gujrat{
 display: inline;
 justify-content: flex-start;
 
}
.second2{
  font-size: 5rem;
}
.imgsize{
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.aboutimg{
  width: 600px;
}
.publicationimg{
  width: 100%;
}
.sizeimage{
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 5px;
}
.imagesize{
  width: 150px;
  text-align: center;
}
.paragraph{

  display: block;
 padding: 20px;
 border: 1px solid black;
 width: 300px;
 margin: 5px ;
 text-align: left;
 font-size: 1.2rem;
 
}
.nodot{
  list-style: none;
}
.font-size{
  font-size: 1.5rem;
}
.fa-brands fa-facebook{
  background-color: red;
 
}
.intro{
 box-sizing: border-box;
padding-left: 100px;
padding-right: 100px;
 margin-bottom: 32px;
}
.fiveimg{
  width: 300px;
}
.imgsize2{
  width: 600px;
}
.introtext{
  font-size: 3rem;
}
.boxsize{
  box-sizing: border-box;
}
.bold{
  font-style: bold;
}
.flex-end{
  display: flex;
  justify-content: end;
  
}
.font-size2{
  font-size: 3rem;
}
.line{
 width: 100px;
   
 
  
}
.space-between{
  display: flex;
  justify-content: space-between;
  text-align: center;
  
  
  
}
.button-size{
  width: 200px;
  height: 60px;
  font-size: 18px;
  
}
input{

width: 700px;
 height: 40px;
 
text-align: center;
border: 1px solid black;
} 
label{
  width: 100px;
  font-size: 16px;
}
.submit-button{
  width: 150px;
  height: 50px;
  font-size: 18px;
  padding: 10px;
 align-items: center;
  display: flex;
  justify-content: center;
}
.parent2{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
@font-face {
  font-family: futurak-bold;
  src: url(./fonts/futurak-bold);
}
span{
  font-family: futurak-bold;}
