img{
    width: 145px;;
}
a{
    text-align: end;
}
.bbq{
   display: flex;
  height: 700px;
  width: 1500px;
  box-sizing: border-box;
  display: block;
}
.second{
  font-size: 3rem;
}
.resturant{
 display: flex;
 justify-content: space-around;
 align-items: center;
 
 height: 300px;
 
 
}

